/*footer*/
footer {
  background-color: white;
}
.div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul-box {
  margin: 0 0 0 4.5em;
  text-align:center;

}

.ul-box ul li a{
    text-decoration: none;
    color: black;
}
.div-social-tab {
  display: flex;
  align-items: center;
}
.div-social-tab img {
  width: 50px;
  height: 50px;
  margin: 0 1em 0 0;
}
.div-logo img {
  width: 180px;
  height: 130px;
}
