:root {
  --blue: #0b0cac;
  --red: #fd0808;
  --black: #000;
  --white: #fff;
  --background: #ededed;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Lobster Two", fantasy;
}

h3 {
  font-size: 1.5em;
}

body {
  background-color: var(--background);
}

/*Image qui prend toue la largeur*/
.wide {
  width: 100%;
}

h2 {
  color: var(--blue);
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}

/*Premiere section */

.container-title {
  background-image: url("../assets/imgs/LVF\ Q.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 0 10px;
}
/*filtre eclaircissant*/
.overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.container-title h1 {
  font-size: 4em;
  color: var(--blue);
  margin: 0 0 5px 0;
  z-index: 1;
}
.container-title span {
  color: var(--red);
}

.button-design {
  width: 150px;
  height: 50px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(180deg, white, white),
    linear-gradient(180deg, var(--blue), var(--red));
  border: 3px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  margin: 1.75rem 0 0 0;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: transform .1s ease-out;
}

.button-design:hover {
  transform: scale(1.1);
}

.horizontalLine {
  width: 250px;
  border: 1px solid var(--red);
  text-align: center;
  margin: 20px auto;
}

.container-title .overlay .horizontalLine {
  margin: 10px auto;
}

.verticalLine {
  width: 0;
  height: 80px;
  border-right: 2px solid var(--red);
  margin: 10px auto;
}

section {
  margin: 2em 0;
}

/*Premiere section présentation*/
.container-content {
  display: flex;
  justify-content: space-between;
}
.content-text {
  margin: 50px 0 0 150px;
}
.picture-content-title img {
  width: 850px;
  height: 500px;
}
.second-container {
  margin: 0 0 1.25rem 0;
}
/* .second-container h2 {
  color: var(--blue);
  font-size: 30px;
  text-align: center;
}
/*Notre gamme unique*/ 
.container-box {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
  align-items: start;
}
.picture-content-one img {
  width: 43.75rem;
  height: 25rem;
  border-radius: 0 400px 100px 0;
}
.content-about-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.75rem 12.5rem 0 0;
}
.content-about-one ul li {
  text-align: end;
}

.picture-content-two img {
  width: 43.75rem;
  height: 25rem;
  border-radius: 400px 0 0 100px;
}

.content-about-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.75rem 0 0 12.5rem;
}
/*section histoire/usine*/
.container-picture-three {
  text-align: center;
}
.container-picture-three h3 {
  color: var(--blue);
  margin: 0 0 1.5rem 0;
}
.container-picture-three img {
  width: 43.75rem;
  height: 25rem;
}
.container-content-three {
  display: flex;
  width: 25rem;
  margin: 8rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
/*formulaire*/

form {
  border: 2px solid var(--blue);
  display: flex;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5em;
  border-radius: 1.5em;
  background-color: var(--white);
}
form h3 {
  text-align: center;
  color: var(--blue);
  margin: 0 0 1em 0;
}

/* Cacher les labels sauf pour les Screen Readers */
label {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.div-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.first-form-bloc,
.second-form-bloc {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.first-form-bloc input,
.second-form-bloc input {
  width: 91%;
  box-sizing: border-box;
  margin: 0 0 1.8em 0;
}

input,
textarea {
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 2px solid var(--red);
}

form .button-design {
  margin: 0 auto;
}

/*Media QUERIES*/

@media screen and (max-width: 992px) {
  .container-title {
    width: 100%;
    height: 50vh;
  }
  .container-title h1 {
    font-size: 2.3em;
  }
  .container-content {
    display: flex;
    flex-direction: column;
  }
  .content-text {
    margin: 10px auto;
    width: 70%;
    text-align: justify;
  }
  .picture-content-title img {
    width: 100%;
    height: auto;
  }
  .picture-content-one img {
    width: 100%;
    height: auto;
  }
  .content-about-one .button-design {
    margin: 1em 0 0 1em;
  }
  .content-about-two .button-design {
    margin: 1em 1em 0 0;
  }
  h3 {
    font-size: 1em;
  }
  .content-about-one {
    margin: 0 1em 0 0;
  }
  .content-about-two {
    margin: 0 0 0 1em;
  }
  .picture-content-two img {
    width: 100%;
    height: auto;
  }
  .container-picture-three img {
    width: 100%;
    height: auto;
  }
  .three {
    display: flex;
    flex-direction: column;
  }
  .container-content-three {
    margin: 1em auto;
  }
  .threeBis {
    display: flex;
    flex-direction: column;
  }
  .threeBis .container-picture-three {
    order: 1;
  }
  .threeBis .container-content-three {
    order: 2;
  }
  .div-form-container {
    display: flex;
    flex-direction: column;
  }
}
