:root {
  --blue: #0b0cac;
  --red: #fd0808;
  --black: #000;
  --white: #fff;
}

html {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Lobster Two", fantasy;
}

main {
  background-color: #ededed;
}
.container-title {
  background-image: url("../assets/imgs/LVF\ Q.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 0 10px;
}

.overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.container-title h1 {
  font-size: 80px;
  color: var(--blue);
  margin: 0 0 5px 0;
  z-index: 1;
}
.container-title span {
  color: var(--red);
}

.button-design {
  width: 150px;
  height: 50px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(180deg, white, white),
    linear-gradient(180deg, var(--blue), var(--red));
  border: 3px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  margin: 1.75rem 0 0 0;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.container-title .overlay .verticalLine {
  width: 250px;
  border: 1px solid var(--red);
  text-align: center;
  margin: 10px auto;
}

.verticalLine {
  width: 250px;
  border: 1px solid var(--red);
  text-align: center;
  margin: 20px auto;
}

.horizontalLine {
  width: 0;
  height: 80px;
  border-right: 2px solid var(--red);
  margin: 10px auto;
}
section {
  margin: 20px 0 20px 0;
}
.container-content {
  display: flex;
  justify-content: space-between;
}
.content-text {
  margin: 50px 0 0 150px;
}
.picture-content-title img {
  width: 850px;
  height: 500px;
}
.second-container {
  margin: 0 0 1.25rem 0;
}
.second-container h2 {
  color: var(--blue);
  font-size: 30px;
  text-align: center;
}
.container-box {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
  align-items: start;
}
.picture-content-one img {
  width: 43.75rem;
  height: 25rem;
  border-radius: 0 400px 100px 0;
}
.content-about-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.75rem 12.5rem 0 0;
}
.content-about-one ul li {
  text-align: end;
}
.picture-content-two img {
  width: 43.75rem;
  height: 25rem;
  border-radius: 400px 0 0 100px;
}

.content-about-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.75rem 0 0 12.5rem;
}
.container-picture-three {
  text-align: center;
}
.container-picture-three h3{
  color: var(--blue);
  margin: 0 0 1.5rem 0;
}
.container-picture-three img {
  width: 43.75rem;
  height: 25rem;
}
.container-content-three {
  display: flex;
  width: 25rem;
  margin: 8rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

form{
  border: 2px solid var(--blue);
  display: flex;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5em;
  border-radius: 1.5em;

}
form h3{
  text-align: center;
  color: var(--blue);
  margin: 0 0 1em 0;
}
label{
  display:none;
}
input, textarea{
  margin:1em;
  padding:1em;
  border-radius: 1em;
  border: 2px solid var(--red);
}

form .button-design{
  margin: 0 auto;
}