:root {
  --blue: #0B0CAC;
  --red: #FD0808;
  --black: #000;
  --white: #fff;
}


header {
  height: 100%;
  width: 100%;
  background-color: var(--white);
}
.navbar .logo{
  width: 50%;
}
#logo{
  width: 150px;
  height: 80px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
}
.navbar a{
text-decoration: none;
color: black;
}

.navlinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lobster Two", fantasy;
  font-size: 17px;
}

.navlinks ul li {
  margin: 0 40px 0 0;
}

.navlinks ul li a {
  color :var(--blue);
}

.active{
  color: var(--red) !important;
}

#icons{
  cursor: pointer;
  display: none;
}

@media (max-width: 650px){
  #icons{
    display: block;
  }

  #icons:before{
    content: "\2630";
    z-index: 9;
  }

  .activeBurger #icons:before{
    content: "\2715";
    z-index: 10;
  }

  nav ul{
    z-index: 5;
    position: fixed;
    left: -100%;
    top: 10%;
    flex-direction: column;
    background-color: white;
    width: 100%;
    transition: 0.25s;
  }
  
  nav ul li{
    width: 100%;
    text-align: center;
    padding: 3px 0;
  }

  nav li:hover{
    background-color: rgb(15, 15, 15);
  }

  nav.activeBurger ul{
    left: 0;
  }
}