.container-title {
  background-image: url("../assets/imgs/PhotoReal_create_a_shopin_a_street_in_south_of_france_selling_2.jpg");
}

.container-content-history{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wide img{
  width: 100%;
}
.container-content-about{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-text {
  margin: 2em 0 2em 0;
  padding: 2em;
}