/*** CARTE INTERACTIVE ***/

.map-section {
  width: 100%;
  max-width: 60em;
  margin: auto;
}

#map { 
  height: 500px;
  width: 100%;
  border: 4px solid var(--blue);
  box-sizing: border-box;
  box-shadow: 0 2px 4px dimgray;
}

.leaflet-marker-icon {
  filter: drop-shadow(0 0 4px dimgrey);
}

/* Animation du marker leaflet sur lequel on a cliqué */
.pin-active {
  animation-name: floating;
  animation-duration: .45s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes floating {
  from {
    margin-top: -49px;
  }

  to {
    margin-top: -55px;
  }
}
