.container-title {
    background-image: url("../assets/imgs/travailleur_velomobile.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 0 10px;
  }
  
  .picture-content-one img {
    width: 43.75rem;
    height: 25rem;
    transform :scaleX(-1)
  }
 
 
  
  
  @media screen and (max-width: 992px) {
    .container-title {
      width: 100%;
      height: 50vh;
    }
    .container-title h1 {
      font-size: 3em;
    }
    .container-content {
      display: flex;
      flex-direction: column;
    }
    .content-text {
      margin: 10px auto;
      width: 70%;
      text-align: justify;
    }
    .picture-content-title img {
      width: 100%;
      height: auto;
    }
    .picture-content-one img {
      width: 100%;
      height: auto;
    }
    .content-about-one .button-design {
      margin: 1em 0 0 1em;
    }
    .content-about-two .button-design {
      margin: 1em 1em 0 0;
    }
    h3 {
      font-size: 1em;
    }
    .content-about-one {
      margin: 0 1em 0 0;
    }
    .content-about-two {
      margin: 0 0 0 1em;
    }
    .picture-content-two img {
      width: 100%;
      height: auto;
    }
    .container-picture-three img {
      width: 100%;
      height: auto;
    }
    .three{
      display: flex;
      flex-direction: column;
    }
    .container-content-three{
      margin: 1em auto;
    }
    .threeBis {
      display:flex;
      flex-direction: column;
    }
    .threeBis .container-picture-three{
      order:1;
    }
    .threeBis .container-content-three{
      order: 2; 
    }
  }